@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>
    Privacy Policy for Study Sync

    At Study Sync, we are committed to ensuring the privacy and security of our users' personal information. This Privacy Policy outlines how we collect, use, store, and protect the data you provide while using our web application.

    1. Information Collection:
    - Personal Information: When you create an account, we collect personal details such as your name, email address, and password to facilitate account creation and authentication.
    - Academic Data: We may collect information related to your academic pursuits, including semester plans, module details, study schedules, and tracked study hours, to enhance your experience within the application.
    - Usage Information: We gather data about your interaction with Study Sync, including pages visited, features used, and session duration, to improve our services and user experience.

    2. Use of Information:
    - Personalization: We use the information provided to personalize your Study Sync experience, including tailoring semester plans, organizing modules, and offering reminders.
    - Communication: We may contact you regarding important updates, changes to our services, or to respond to inquiries and support requests.
    - Analytics and Improvement: Collected data is utilized to analyze user behavior, enhance our services, and develop new features for Study Sync.

    3. Data Storage and Security:
    - Protection: We employ industry-standard security measures to safeguard your personal information against unauthorized access, alteration, or disclosure.
    - Data Retention: Your data is stored for as long as necessary to provide the services and features of Study Sync or as required by law.

    4. Information Sharing:
    - Third Parties: We do not sell, trade, or transfer your personal information to third parties without your explicit consent, except as required by law or to provide our services effectively.

    5. Cookies and Tracking Technologies:
    - Study Sync may use cookies and similar tracking technologies to enhance user experience, track usage patterns, and provide personalized content.

    6. User Rights:
    - Access and Modification: You have the right to access, correct, update, or delete your personal information stored within Study Sync.
    - Account Termination: You can deactivate or delete your account at any time, and upon request, we will remove your personal data from our systems.

    By using Study Sync, you agree to the terms outlined in this Privacy Policy. We may update this policy occasionally, and any revisions will be reflected on this page.

    If you have questions or concerns regarding this Privacy Policy or your personal data, please contact us at [contact email].
</h4>
